<style type="text/css">

<!--

    #vote_title

    {

        margin-left: auto;

        margin-right: auto;

        /*background-color: #0072BC;*/

        color: #000;

        font-weight:bold;

        font-size: 14px;

        text-align: center;

        font-family: tahoma;

    }

    #vote #vote_result

    {

        width: 200px;

        border-color: #000;

        border-width: 0;

        margin-top: 5px;

        padding: 5px;

        /*background-color: #fff;*/

        margin-left: auto;

        margin-right: auto;        

        text-align: <_align_ />;

        color:#000;

        font-size:10px;

        font-family: tahoma;

    }

    #vote #vote_result #submitt

    {

        width: 60px;

        /*background-color: #fff;*/

        border-width: 0;

        float: <align_ />;

        font-family: tahoma;

    }

    #vote #vote_result #res_button

    {

        width: 62px;

        /*background-color: #fff;*/

        border-width: 0;

        float: <_align_ />;

        font-family: tahoma;

    }

    .button

    {

        width: 62px;

        height: 22px;

        background-position: center;

        background-image: url('<dir />/images/button.png');

        background-repeat: no-repeat;

        font-size: 13px;

        color:#000;

        font-family: tahoma;

        text-align: center;

        cursor: pointer;

        vertical-align: middle;

    }

    .radio

    {

        /*background-color: #11A8E7;*/

    }

    #vote #down_vote

    {

        width: 140px;

        /*background-color: #fff;*/

        border-width: 0;

        clear: both;

        font-family: tahoma;

    }

    #vote a

    {

        font-family: tahoma;

        font-size: 12px;

        color: #11A8E7;

        text-decoration: none;

        vertical-align: middle;        

    }

    #vote a:hover

    {

        font-family: tahoma;

        font-size: 12px;

        color: #11A8E7;

        text-decoration: none;

    }

    .corner

    {

        

    }

-->

</style>



<div class="art-block">

    <div class="art-block-tl"></div>

    <div class="art-block-tr"></div>

    <div class="art-block-bl"></div>

    <div class="art-block-br"></div>

    <div class="art-block-tc"></div>

    <div class="art-block-bc"></div>

    <div class="art-block-cl"></div>

    <div class="art-block-cr"></div>

    <div class="art-block-cc"></div>

    <div class="art-block-body">

                <div class="art-blockheader">

                    <div class="l"></div>

                    <div class="r"></div>

                    <h3 class="t"><div id="vote_title"><title_ /></div></h3>

                </div>

                <div class="art-blockcontent">

                    <div class="art-blockcontent-body">

                        <div id="vote"><tag /></div>               

                                		<div class="cleared"></div>

                    </div>

                </div>

		<div class="cleared"></div>

    </div>

</div>