<style type="text/css">
<!--
    #participate div
    {
                
        width: 160px;
        margin-left: 5px;
        margin-right: 5px;
        padding: 0;
    }
    #participate div div
    {
        width:158px;
        margin-left: auto;
        margin-right: auto;
        background-color: #0072BC;
        color: #fff;
        font-weight:bold;
        font-size: 14px;
        text-align: center;
        font-family: tahoma;
    }
    #participate div span
    {
        float:  <align_ />;
    }
    #participate div a
    {
        font-family: WinSoft Pro;
        font-size: 12px;
        color: #11A8E7;
        text-decoration: none;
        vertical-align: middle;        
    }
    #participate div a:hover
    {
        font-family: WinSoft Pro;
        font-size: 12px;
        color: #11A8E7;
        text-decoration: none;
    }
-->
</style><br />
<div id="participate"><div><div><title_ /></div><tag /></div></div>