<style type="text/css">
#investors
{
    font-size: 14px;
    font-family: tahoma;
}
#investors div
{
    color: #0072BC;
    font-size: 14px;
    font-family: tahoma;
}
#investors a
{
    color: #0072BC;
    font-size: 14px;
    text-decoration: none;
    font-family: tahoma;
}

#investors_title
{
    vertical-align: middle;
    background-image: url('images/bar.png');
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    padding-left: 5px;
    font-weight:bold;
    font-size: 16px;
    font-family: tahoma;
    color: #005d83;
}
#investors_title a
{
    font-weight:bold;
    font-size: 14px;
    font-family: tahoma;
    color: #005d83;
    text-decoration: none;
}
#investors_title a:hover
{
    font-weight:bold;
    font-size: 14px;
    font-family: tahoma;
    color: #005d83;
    text-decoration: none;
}
</style>
<div id="investors"><div id="investors_title"><title_ /></div><content_tag /></div>