<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"[]>
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="cache-control" content="no-cache" />
    <link rel="alternate" type="application/rss+xml" title="RSS Feed for <domain_tag /> website" href="<rss_tag />" />
    <meta http-equiv="Content-Language" content="<shortcut_tag />" />
    <meta name="robots" content="index,follow" />
    <meta http-equiv="Window-target" content="_top" />
    <link rel="shortcut icon" href="images/logo.ico"  /> 
    <meta name="keywords" content="<keywords_tag />" />
    <meta name="description" content="<description_tag />" />
    <title><title_tag /></title>
     <javascript_tag />
     <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-35756436-1']);
      _gaq.push(['_setDomainName', 'rlcdamascus.com']);
      _gaq.push(['_setAllowLinker', true]);
      _gaq.push(['_trackPageview']);
    
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
     <script type="text/javascript">	
    	var _=jQuery.noConflict();
    </script>
    <javascript_proto />
    <link rel="stylesheet" href="style.css" type="text/css" media="screen" />
    <!--[if IE 6]><link rel="stylesheet" href="style.ie6.css" type="text/css" media="screen" /><![endif]-->
    <!--[if IE 7]><link rel="stylesheet" href="style.ie7.css" type="text/css" media="screen" /><![endif]-->

    <script_tag />
</head>
<body>
<div id="art-page-background-glare">
    <div id="art-page-background-glare-image"> </div>
</div>
<div id="art-main">
    <div class="art-sheet">
        <div class="art-sheet-tl"></div>
        <div class="art-sheet-tr"></div>
        <div class="art-sheet-bl"></div>
        <div class="art-sheet-br"></div>
        <div class="art-sheet-tc"></div>
        <div class="art-sheet-bc"></div>
        <div class="art-sheet-cl"></div>
        <div class="art-sheet-cr"></div>
        <div class="art-sheet-cc"></div>
        <div class="art-sheet-body">
            <div class="art-header">
                <div class="art-header-clip">
                <div class="art-header-center">
                    <div class="art-header-png"></div>
                    <div class="art-header-jpeg"><img src="images/icon.png" style="padding: 10px;" /></div>
                </div>
                </div>
                <div class="art-logo">
                                 <h1 class="art-logo-name"><a href="./index.html"><!--Enter Site Title--></a></h1>
                                                 <h2 class="art-logo-text"><!--Enter Site Slogan--></h2>
                                </div>
            </div>
            <div class="cleared reset-box"></div><div class="art-nav">
	<div class="art-nav-l"></div>
	<div class="art-nav-r"></div>
<div class="art-nav-outer">
	<header_tag />
</div>
</div>
<div class="cleared reset-box"></div>
<div style="background-color: #ACBEBC;height: 20px;font-size: 14px;padding: 5px;"><marquee_tag /></div>
<div class="art-content-layout">
                <div class="art-content-layout-row">
                <right_tag />
                    <div class="art-layout-cell art-content">
<div class="art-post">
    <div class="art-post-body">
<div class="art-post-inner art-article" dir="ltr"><body_tag />
                </div>

		<div class="cleared"></div>
    </div>
</div>

                      <div class="cleared"></div>
                    </div>
                    
                    
                    
                </div>
            </div>
            <div class="cleared"></div>
            <footer_tag />
    		<div class="cleared"></div>
        </div>
    </div>
    <div class="cleared"></div>
    <p class="art-page-footer"><a href="">&nbsp;</a> &nbsp;</p>
</div>

</body>
</html>
