<style type="text/css">
<!--
    #vote div
    {
        border-color: #BCBCBC;
        border-style: solid;
        border-width: 1px;
        width: 160px;
        margin-left: 5px;
        margin-right: 5px;
        padding: 0;
    }
    #vote div div
    {
        width:158px;
        margin-left: auto;
        margin-right: auto;
        background-color: #0072BC;
        color: #fff;
        font-weight:bold;
        font-size: 14px;
        text-align: center;
        font-family: tahoma;
    }
    #vote div #vote_result
    {
        border-color: #fff;
        width: 150px;
        border-width: 0;
        margin-top: 5px;
        padding: 5px;
        background-color: #fff;
        margin-left: auto;
        margin-right: auto;        
        text-align: <_align_ />;
        color:#000;
        font-size:10px;
    }
    #vote div #vote_result #submitt
    {
        width: 60px;
        background-color: #fff;
        border-width: 0;
        float: <align_ />;
    }
    #vote div #vote_result #res_button
    {
        width: 60px;
        background-color: #fff;
        border-width: 0;
        float: <_align_ />;
    }
    #vote div #down_vote
    {
        width: 150px;
        background-color: #fff;
        border-width: 0;
        clear: both;
    }
    #vote div a
    {
        font-family: WinSoft Pro;
        font-size: 12px;
        color: #11A8E7;
        text-decoration: none;
        vertical-align: middle;        
    }
    #vote div a:hover
    {
        font-family: WinSoft Pro;
        font-size: 12px;
        color: #11A8E7;
        text-decoration: none;
    }
    .corner
    {
        
    }
-->
</style>
<script type="text/javascript">
	//$('.corner').corner();
</script>
<div id="vote" class="corner"><div><div><title_ /></div><tag /></div></div><br />