<style type="text/css">
<!--
	#main_menu div
    {
        background-image: url('<path />button.png');
        background-repeat: no-repeat;
        width: 158px;
        height: 29px;
        text-align: center;
        margin: 5px;
        padding-top: 5px;
        color: #000;
        
    }
    #main_menu div a
    {
        font-family: tahoma;
        font-size: 14px;
        color: #0000ff;
        text-decoration: none;
        
        font-weight: bold;
    }
    #main_menu div a:hover
    {
        font-family: tahoma;
        font-size: 14px;
        color: #0000ff;
        text-decoration: none;
    }
-->
</style>
<div class="art-vmenublock">
<div class="art-vmenublock-tl"></div>
<div class="art-vmenublock-tr"></div>
<div class="art-vmenublock-bl"></div>
<div class="art-vmenublock-br"></div>
<div class="art-vmenublock-tc"></div>
<div class="art-vmenublock-bc"></div>
<div class="art-vmenublock-cl"></div>
<div class="art-vmenublock-cr"></div>
<div class="art-vmenublock-cc"></div>
<div class="art-vmenublock-body">
    <div class="art-vmenublockheader">
        <div class="l"></div>
        <div class="r"></div>
        <h3 class="t"><title_ /></h3>
    </div>
    <div class="art-vmenublockcontent">
        <div class="art-vmenublockcontent-body">
        <tag />
   		<div class="cleared"></div>
        </div>
    </div>
	<div class="cleared"></div>
</div>
</div>