<style type="text/css">
#questionair
{
    font-size: 14px;
    font-family: tahoma;
}
#questionair div
{
    color: #000;
    font-size: 14px;
    font-family: tahoma;
}
#questionair a
{
    color: #000;
    font-size: 14px;
    text-decoration: none;
    font-family: tahoma;
}

#questionair_title
{
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    padding-left: 5px;
    color: #000;
    font-weight:bold;
    font-size: 16px;
    font-family: tahoma;
    vertical-align: middle;
    /*background-image: url('images/bar.png');*/
    text-align: center;
}
#questionair_title a
{
    color: #000;
    text-decoration: none;
}
#questionair_title a:hover
{
    color: #000;
    text-decoration: none;
}
#questionair_result span
{
    border-color: #ff0000;
    border-style: solid;
    border-width: 1px;
    color:#ff0000;
    background-color: #FCE5E5;
}
#questionair_result div
{
    border-color: #008000;
    border-style: solid;
    border-width: 1px;
    color:#339966;
    background-color: #E5FEDA;
}
input
{
    font-size: 14px;
    font-family: tahoma;
}
</style>
<div id="questionair"><div id="questionair_title"><title_ /></div><content_tag /></div>