<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>إدارة الموقع</title>
<style type="text/css">
<!--
    div,span,td
    {
        font-family: tahoma;
        font-size: 12px;
        color: #000;
    }
	body
    {
        font-family: tahoma;
        font-size: 12px;
        color: #000;
    }
    a
    {
        font-family: tahoma;
        font-size: 12px;
        color: #000;
        text-decoration: none;
        text-decoration: underline;
    }
-->
</style>
 <javascript_tag />
</head> 
<body dir="ltr" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<table width="100%" border="0" cellpadding="0"  cellspacing="0">
  <tr>
    <td colspan="2" id="topHeader" bgcolor="#2B2BFF">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td align="left"></td>
          <td align="center"><h1>إدارة الموقع</h1></td>
        </tr>
    </table>
    </td>
  </tr>
  <tr>
    <td style="border-bottom:3px solid #296cbf;">
    <table width="100%" border="0" cellpadding="0" cellspacing="0" dir="rtl">
      <tr>
        <td width="83%">
            <div id="content">
            <content_tag />
            </div>
        </td>
        <td width="17%" align="right" style="color:#FFF;">
            <div dir="rtl">
                
            </div> 
    	</td>
     </tr>
    </table>
    </td>
  </tr>
  <tr>        
        <td valign="top"><div id="bTarTd" style="width:100%;direction: rtl;"><bTarTd_tag /></div></td>
  </tr>
  <tr>
        <td id="bottomFooter" style="background-color: #296cbf;"><bottomFooter_tag /></td>
  </tr>
</table>
</body>
</html>
