<style type="text/css">

#content

{

    width: 800px;

}

#content a

{

    font-size: 11pt;

    color: #000;

    text-decoration: none;

    font-family: tahoma;

}

#sec

{

    padding: 5px;

    font-family: tahoma;

    font-size: 11pt;

}

.news

{

    width: 95%;

    padding: 5px;

    margin-left: 5px;

    margin-right: 5px;

    background-color: #fff;

    color: #000;

    font-size: 11px;

    font-family: tahoma;

}

.more 

{

    font-size: 11px;

    color: #11A8E7;

    text-align: <align_ />;

    font-family: tahoma;

    vertical-align: bottom;

}

.more a

{

    font-size: 11px;

    color: #11A8E7;

    text-decoration: none;

    vertical-align: bottom;

    font-family: tahoma;

}

#vedio

{

    padding: 5px;

    font-family: tahoma;

    font-size: 11pt;

}

#sound

{

    padding: 5px;

    font-family: tahoma;

    font-size: 11pt;

}

#image

{

    padding: 5px;

    font-family: tahoma;

    font-size: 11pt;

}

#body

{

    padding: 5px;

    font-family: tahoma;

    font-size: 11pt;

}

#ext

{

    padding: 5px;

    font-family: tahoma;

    font-size: 11pt;

}

#content_title

{

    vertical-align: middle;

    padding-top: 5px;

    padding-bottom: 5px;

    padding-right: 5px;

    padding-left: 5px;

    font-weight:bold;

    font-size: 14px;

    font-family: tahoma;

    color: #fff;

}

#content_title a

{

    font-size: 14px;

    color: #000;

    text-decoration: none;

    font-family: tahoma;

}

#content_title a:hover

{

    font-size: 14px;

    color: #fff;

    text-decoration: none;

    font-family: tahoma;

}

</style>

<div id="content"><div id="content_title"><div class="art-blockheader"><div class="l"></div><div class="r"></div><h3 class="t"><title_ /></h3></div></div><content_tag /></div>