<style type="text/css">
#news_map
{
    font-size: 16px;
}
#news_map div
{
    color: #000;
    font-size: 16px;    
}
#news_map a
{
    color: #fff;
    font-size: 16px;
    text-decoration: none;
}

#news_map_title
{
    vertical-align: middle;
    /*background-image: url('images/bar.png');*/
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    padding-left: 5px;
    font-weight:bold;
    font-size: 16px;
    font-family: tahoma;
    color: #000;
}
#news_map_title a
{
    font-weight:bold;
    font-size: 16px;
    font-family: tahoma;
    color: #fff;
    text-decoration: none;
}
#news_map_title a:hover
{
    font-weight:bold;
    font-size: 16px;
    font-family: tahoma;
    color: #000;
    text-decoration: none;
}
#result span
{
    border-color: #ff0000;
    border-style: solid;
    border-width: 1px;
    color:#ff0000;
    background-color: #FCE5E5;
}
#result div
{
    border-color: #008000;
    border-style: solid;
    border-width: 1px;
    color:#339966;
    background-color: #E5FEDA;
    width:80%;
}
</style>
<div id="news_map"><content_tag /></div>